name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
  workflow_dispatch:
jobs:
  site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.38.4
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
