name: Updates CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.38.4
        with:
          command: "update"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
